.DS_Store
viikko1/nhl-statistics-1/.DS_Store
viikko1/nhl-statistics-1/.coverage
viikko1/nhl-statistics-1/.gitignore
tehtavat
viikko3/web-login/log.html
viikko3/web-login/output.xml
viikko3/web-login/report.html
viikko3/web-login/selenium-screenshot-1.png
viikko3/web-login/selenium-screenshot-2.png
viikko3/web-login/selenium-screenshot-3.png
viikko3/web-login/selenium-screenshot-4.png
viikko3/web-login/selenium-screenshot-5.png
viikko4/verkkokauppa/.coverage
**/poetry.lock
**/__pycache__/
viikko4/maksukortti-mock/src/tests/__pycache__/kassapaate_test.cpython-311-pytest-7.4.3.pyc
viikko3/*